.hidden{
    display: none;
}

.image_import_label,.new_upload,.text_import_label {
    border: none;
    background-color: lightgray;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    position:center;
}

.image_import_label,.new_upload,.text_import_label:hover {background: #eee;}
